body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
}

.product {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 200px;
}
.icon-square{
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}